asgiref==3.11.1
astroid==4.0.4
black==26.5.1
click==8.4.1
dill==0.4.1
Django==6.0.6
django-cors-headers==4.9.0
django-extensions==4.1
djangorestframework==3.17.1
djangorestframework_simplejwt==5.5.1
drf-yasg==1.21.15
gitdb==4.0.12
GitPython==3.1.50
inflection==0.5.1
isort==8.0.1
mccabe==0.7.0
mypy_extensions==1.1.0
packaging==26.2
pathspec==1.1.1
platformdirs==4.10.0
psycopg2-binary==2.9.12
pydot==4.0.1
PyJWT==2.13.0
pylint==4.0.5
pyparsing==3.3.2
pytokens==0.4.1
pytz==2026.2
PyYAML==6.0.3
setuptools==78.1.1
smmap==5.0.3
sqlparse==0.5.5
tomlkit==0.15.0
uritemplate==4.2.0
